* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html, body {
  cursor: url("cursor.png"), auto;
}

/* Custom mouse tracker styles */
.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background: transparent;
  border: 1px solid black;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
  transition: 0.1s, transform 0.08s;
  mix-blend-mode: difference;
}
.custom-cursor::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

nav {
  width: 100%;
  padding: 10px 20px;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid gray;
}
nav .logo {
  font-size: 24px;
  font-weight: bold;
  color: #8a1cfc;
}
nav ul {
  width: 100%;
  max-width: 500px;
  display: flex;
  list-style: none;
}
nav ul li {
  margin: 0 10px;
}
nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
nav ul li a:hover {
  color: #8a1cfc;
}

#banner {
  width: 100%;
  height: 100vh;
  background-image: radial-gradient(circle, rgba(0, 66, 57, 0.6980392157), rgba(1, 34, 85, 0.6784313725));
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 20px 20px 20px;
  overflow: hidden;
}
#banner .left_col {
  width: 50px;
  height: 100%;
}
#banner .left_col .left_col_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#banner .left_col .left_col_container .rotateText_container {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
#banner .left_col .left_col_container .rotateText {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3eef8;
  transform: rotate(-45deg);
  border-radius: 4px;
}
#banner #layer2 {
  width: 100%;
  max-width: 1200px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  z-index: 999;
  padding: 20px;
}
#banner #layer2 #slideDown {
  width: 50%;
  height: 100%;
  background-color: rgba(25, 155, 230, 0.219);
  z-index: 9;
  position: absolute;
  top: -100%;
  left: 0;
}
#banner #layer2 #slideUp {
  width: 50%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.274);
  z-index: 9;
  position: absolute;
  bottom: -100%;
  right: 0;
}
#banner .layer1 {
  width: 100%;
  max-width: 1400px;
  height: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}
#banner .layer1 .bannerLogo {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#banner .layer1 .bannerLogo .bannerText {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  color: white;
  z-index: 9;
}
#banner .layer1 .bannerLogo .bannerText h1 {
  font-size: 70px;
  font-weight: 700;
  margin-bottom: 10px;
}
#banner .layer1 .bannerLogo .bannerLogo_container {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: rgba(119, 8, 238, 0);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
#banner .layer1 .profilePic {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#banner .layer1 .profilePic .box {
  width: 400px;
  height: 400px;
  background-color: rgba(33, 0, 68, 0);
  z-index: 999;
}
#banner .right_col {
  width: 50px;
  height: 100%;
  background-color: #8a1cfc;
}/*# sourceMappingURL=style.css.map */